Pandas Dataframe Index

In [1]:
import pandas as pd
data ={"name":["kifayat","waqar","ali","sadiq"],
       "age":[23,29,22,36],
       "gender":["male","male","male","male"],
       "salary":["12k","88k","6k","80k"]}
df=pd.DataFrame(data)
print(df)
print(df.index)

      name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k
RangeIndex(start=0, stop=4, step=1)

In [2]:
print(df.set_index("name"))

         age gender salary
name
kifayat   23   male    12k
waqar     29   male    88k
ali       22   male     6k
sadiq     36   male    80k

In [6]:
print(df.reset_index(drop=True))
#Syntax: DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill=”)
# Parameters:
# level: Specifies the index level(s) to remove or reset. It can be an integer, string, or a list of levels.
# drop: If True, it removes the index column entirely instead of adding it as a column in the DataFrame.
# inplace: If True, modifies the original DataFrame in place. By default, it’s False, and a new DataFrame is returned.
# col_level: Used to select the level of the column to insert the index labels.
# col_fill: If the DataFrame has multiple columns, this determines how missing levels are filled in the column headers.

      name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k

In [11]:
dd=(df.reset_index(drop=True))
print(dd)

      name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k

In [13]:
import pandas as pd

# Creating the DataFrame
data = {
    "name": ["kifayat", "waqar", "ali", "sadiq"],
    "age": [23, 29, 22, 36],
    "gender": ["male", "male", "male", "male"],
    "salary": ["12k", "88k", "6k", "80k"]
}

df = pd.DataFrame(data)
df.set_index("name", inplace=True)  # Setting 'name' as the index
print("Original DataFrame with 'name' as index:\n", df)

# Resetting index correctly
df_reset = df.reset_index()  # This will properly restore 'name' as a column
print("\nDataFrame after resetting index:\n", df_reset)

Original DataFrame with 'name' as index:
          age gender salary
name
kifayat   23   male    12k
waqar     29   male    88k
ali       22   male     6k
sadiq     36   male    80k

DataFrame after resetting index:
       name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k

In [12]:
print(dd)

      name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k

In [15]:
print(df.loc["kifayat"])

age         23
gender    male
salary     12k
Name: kifayat, dtype: object

In [16]:
print(df.iloc[0::3])

         age gender salary
name
kifayat   23   male    12k
sadiq     36   male    80k

In [42]:
print(dd["name"])

0    kifayat
1      waqar
2        ali
3      sadiq
Name: name, dtype: object

In [46]:
print(dd.loc[:, ["name", "salary"]])

      name salary
0  kifayat    12k
1    waqar    88k
2      ali     6k
3    sadiq    80k

In [47]:
print(dd.columns)

Index(['name', 'age', 'gender', 'salary'], dtype='object')