Indexing and Selecting Data with Pandas

1. indexing the daya with [] operator :
The most straightforward way to index data in Pandas is by using the [] operator. This method can be used to select individual columns or multiple columns.

In [1]:
import pandas as pd
data ={"name":["kifayat","waqar","ali","sadiq"],
       "age":[23,29,22,36],
       "gender":["male","male","male","male"],
       "salary":["12k","88k","6k","80k"]}
df=pd.DataFrame(data)
print(df)
print(df.index)

      name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k
RangeIndex(start=0, stop=4, step=1)

In [2]:
print(df["name"])

0    kifayat
1      waqar
2        ali
3      sadiq
Name: name, dtype: object

In [4]:
print(df[["age","name","gender"]])

   age     name gender
0   23  kifayat   male
1   29    waqar   male
2   22      ali   male
3   36    sadiq   male

2. Indexing a DataFrame using .loc[ ]:
The .loc[] function in Pandas is used for selecting data by row and column labels. Unlike the indexing operator, .loc[] can select subsets of rows and columns

loc methtod is used to seclecting data in a labels we should specify the row and coloumns

In [ ]:
print(df.loc[:,["gender","name"]])

  gender     name
0   male  kifayat
1   male    waqar
2   male      ali
3   male    sadiq

In [27]:
print(df.loc[1:2,["age"]])

   age
1   29
2   22

In [12]:
data=df.loc[0]
print(data)

name      kifayat
age            23
gender       male
salary        12k
Name: 0, dtype: object

In [13]:
df

      name  age gender salary
0  kifayat   23   male    12k
1    waqar   29   male    88k
2      ali   22   male     6k
3    sadiq   36   male    80k

2. Indexing a DataFrame using .iloc[ ]
<> . The .iloc[] function in Pandas allows data selection based on integer positions (rather than labels). It is similar to .loc[], but only accepts integer-based indices to specify rows and columns.

In [24]:
print(df.iloc[1:2:,[1,3]])

   age salary
1   29    88k

# Slicing Pandas Dataframe

In [29]:
import pandas as pd

# Initializing the nested list with Data set
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

# creating a pandas dataframe
dff = pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
df # data frame before slicing

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000

# 1. Slicing Using iloc :

 

A. Slicing Rows in dataframe in python

In [32]:
print(dff.iloc[0:4])

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000

B. Slicing Columns in dataframe in python

In [33]:
print(dff.iloc[:, 0:2])

            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42

C. Selecting a Specific Cell  in Dataframe in Python

In [35]:
print(dff.iloc[2,3])

8428000

D. Using Boolean Conditions  in Dataframe in Python

In [36]:
print(dff[dff['Age'] > 35].iloc[:, :])

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
4        C.Gayle   40     100  4528000
6     K.Peterson   42      85  2528000

# 2. Slicing Using loc[]

In [40]:
print(dff.loc[0:4])

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000

In [ ]:
print(dff.loc[0:4,"Name"])

In [42]:
data=dff.set_index("Name")
print(data)

               Age  Weight   Salary
Name
M.S.Dhoni       36      75  5428000
A.B.D Villers   38      74  3428000
V.Kohli         31      70  8428000
S.Smith         34      80  4428000
C.Gayle         40     100  4528000
J.Root          33      72  7028000
K.Peterson      42      85  2528000

In [43]:
print(data.loc["V.Kohli":"K.Peterson"])

            Age  Weight   Salary
Name
V.Kohli      31      70  8428000
S.Smith      34      80  4428000
C.Gayle      40     100  4528000
J.Root       33      72  7028000
K.Peterson   42      85  2528000

print(data.lio)